/*
  Restart base web browser styles for, all
  elements and all pseudo elements, setup
  default font size, family etc.

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box
  border: none
  text-decoration: none
  list-style: none

\:root
  font-size: 10px
  font-weight: 400
  font-family: $main-font-family
  color: $main-dark-color

a
  color: $main-light-color
