{% load static %}

<!doctype html>

<html lang="en">

    <head>
        {% include "shared/component/head.html" %}
        <title>
            {% block title %}{% endblock %} | The Blog
        </title>
    </head>

    <body>
        <div>
            <div>
                {% include "shared/component/nav.html" %}
            </div>
            <div>
                {% block content %}{% endblock %}
            </div>
            <div>
                {% include "shared/component/footer.html" %}
            </div>
        </div>
    </body>
</html>
