/*
  Declare shared SASS variables in this file.
  Need to be included to main file as a first element.

// Black shades
$main-dark-color: #15152f

// White shades
$main-light-color: #eeeeeeff
$secondary-light-color: #ffffffff
$additional-light-color: #afafafff

// Accent
$main-accent-color: #e67e22ff

// Fonts
$main-font-family: 'Roboto', sans-serif
$accent-font-family: 'Anton', sans-serif

// Spacings
$main-inner-spacing: 1rem
$main-outer-spacing: 1rem
