/*
  Declare shared SASS variables in this file.
  Need to be included to main file as a first element.

$main-dark-color: #333355ff
$main-light-color: #eeeeffff

$main-accent-color: #3445cdff
$main-accent-color-light: #4567deff
$main-accent-color-dark: #2334beff

$main-font-family: 'Roboto', sans-serif
$accent-font-family: 'Anton', sans-serif
