{% extends "shared/base.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ article.title }}</h1>
    </div>

    <div>
        <p>{{ article.short_description }}</p>
    </div>

    <div>
        <p>{{ article.main_content }}</p>
    </div>

    <div>
        <div>
            {% if article.previous %}
                <a href="{% url 'blog-article-details' primary_key=article.previous.id %}">previous</a>
            {% endif %}
        </div>
        <div>
            {% if article.next %}
                <a href="{% url 'blog-article-details' primary_key=article.next.id %}">next</a>
            {% endif %}
        </div>
    </div>

    <div>
        {% if comments %}
            <ol>
                {% for comment in comments %}
                    <li>{{ comment.content }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <h4>there are not comments for this article</h4>
        {% endif %}
    </div>
{% endblock %}
