{% extends "shared/base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <ol>
        {% for category in categories %}
            <li>
                {% include "blog/component/category.html" with category=category%}
            </li>
        {% endfor %}
    </ol>

    <ol>
        {% for article in articles %}
            <li>
                {% include "blog/component/thumbnail.html" with article=article %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
