{% extends "shared/base.html" %}

{% block title %}
    Blog App
{% endblock %}

{% block content %}
    <div class="heading">
        <h1 class="heading__text heading__text--h1">I am alive!</h1>
        <h2 class="heading__text heading__text--h2">I am alive!</h2>
        <h3 class="heading__text heading__text--h3">I am alive!</h3>
        <h4 class="heading__text heading__text--h4">I am alive!</h4>
        <h5 class="heading__text heading__text--h5">I am alive!</h5>
        <h6 class="heading__text heading__text--h6">I am alive!</h6>
        <h7 class="heading__text heading__text--h7">I am alive!</h7>
    </div>

    <div>
        {% if categories %}
            <h1>Number of categories in database: {{ categories|length }}</h1>
        {% else %}
            <h1>There are no categories in database.</h1>
        {% endif %}
    </div>

    <div>
        {% if articles %}
            <h1>Number of articles in database: {{ articles|length }}</h1>
        {% else %}
            <h1>There are no articles in database.</h1>
        {% endif %}
    </div>
{% endblock %}
