{% extends "shared/base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <ol>
        {% for category in categories %}
            <li>
                {{ category.title }}
            </li>
        {% endfor %}
    </ol>

    <ol>
        {% for article in articles %}
            <li>
                <a href="{% url 'blog-article-details' primary_key=article.id %}">{{ article.title }}</a>
                <p>views [ {{ article.views }} ]</p>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
