.app
  height: 100vh
  color: $main-light-color

  &__nav
    min-height: 5vh
    display: flex
    justify-content: flex-start
    align-items: center
    background-color: $secondary-dark-color

  &__content
    min-height: 85vh
    background-color: $main-dark-color

  &__footer
    min-height: 10vh
    background-color: $secondary-dark-color
