/*
  BEM block for App.

.app
  &__content
    width: 90%

    display: flex
    justify-content: center
    align-items: center

    margin: 0 auto

    @media screen and (min-width: $desktop-breakpoint)
      max-width: 120rem
