/*
  Bem block for Grid.

.grid
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

  @media screen and (min-width: 1240px)
    justify-content: flex-start


  &__item
    margin: 1rem 0
